<template>
  <div>
    <b-container fluid>
      <div class="page-header">
        <h1>Tentang Riset Ini</h1>
      </div>
      <div class="isi">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Riset ini dilakukan dengan mengimplementasikan algoritma deep learning yaitu: CNN dan LSTM yang mana akan menggabungkan antara Image Processing dan Natural Language Processing. CNN digunakan untuk fitur ekstraksi dimana hasil yang didapat dari ekstraksi fitur tersebut digunakan sebagai input pada hidden state di LSTM. Untuk Bagian NLP menggunakan LSTM disini menggunakan struktur many-to-many. Merupakan suatu struktur dimana LSTM akan memiliki input yang banyak dan output yang banyak.</p><br>
        <p>info lebih lanjut hubungi: utsman.fajar@students.amikom.ac.id</p>
      </div>
    </b-container>
  </div>
</template>

<style>
.page-header {
  margin-top: 2%;
  margin-left: 5%;
}
.isi {
  margin-left: 5%;
}
</style>
