<template>
  <div>

    <b-container fluid>
      <b-row id="section1">
        <b-jumbotron header="Image Captioning Tools" lead="Upload your image and get your caption" fluid>
          <p>Image captioning merupakan software berbasis web yang digunakan untuk memberikan caption dari gambar yang di upload. Software ini menggunakan python sebagai backend-nya dan vue js sebagai frontend-nya. Dengan memanfaatkan library keras, software ini dikembangkan dengan algoritma Deep Learning</p>
          <b-btn variant="primary" :to="'/about'">More Info</b-btn>
        </b-jumbotron>
      </b-row>
      <b-row id="section2">
        <b-col cols="12">
          <div id="howto">
            <b-row class="justify-content-md-center">
              <b-col cols="12" md="auto">
                <h1>How to use</h1>
              </b-col>
            </b-row>
            <b-row class="justify-content-md-center">
              <b-col cols="4" md="auto">
                <div>
                  <b-card title="Step 1:"
                          :img-src="require('../assets/browser.png')"
                          img-alt="Image"
                          img-top
                          tag="article"
                          style="width: 15rem;height: 23rem;"
                          class="mb-2">
                    <p class="card-text">
                      Klik tombol browse
                    </p>
                  </b-card>
                </div>
              </b-col>
              <b-col cols="4" md="auto">
                <div>
                  <b-card title="Step 2:"
                          :img-src="require('../assets/window-of-dialog.png')"
                          img-alt="Image"
                          img-top
                          tag="article"
                          style="width: 15rem;height: 23rem;"
                          class="mb-2">
                    <p class="card-text">
                      Pilih file gambar
                    </p>
                  </b-card>
                </div>
              </b-col>
              <b-col cols="4" md="auto">
                <div>
                  <b-card title="Step 1:"
                          :img-src="require('../assets/upload-button.png')"
                          img-alt="Image"
                          img-top
                          tag="article"
                          style="width: 15rem;height: 23rem;"
                          class="mb-2">
                    <p class="card-text">
                      Klik tombol upload
                    </p>
                  </b-card>
                </div>
              </b-col>
              <b-col cols="4" md="auto">
                <div>
                  <b-card title="Step 1:"
                          :img-src="require('../assets/hourglass.png')"
                          img-alt="Image"
                          img-top
                          tag="article"
                          style="width: 15rem;height: 23rem;"
                          class="mb-2">
                    <p class="card-text">
                      Tunggu hingga gambar selesai diproses
                    </p>
                  </b-card>
                </div>
              </b-col>
            </b-row>
          </div>
        </b-col>
      </b-row>
      <!-- <b-row id="section3">
        <b-col>1 of 2</b-col>
        <b-col>2 of 2</b-col>
      </b-row> -->
      <b-row id="section4">
        <b-col>
          <div id="result">
            <b-row class="justify-content-md-center">
              <b-col cols="12" md="auto">
                <h1>Some Result</h1>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <div id="image">
                  <b-img :src="require('../assets/ex1.jpg')" fluid alt="Fluid image" />
                </div>
              </b-col>
              <b-col>
                <div id="image">
                  <h5>Caption:</h5>
                  <p>a women with blonde hair having sex with missionary position .</p>
                </div>
              </b-col>
              <b-col>
                <div id="image">
                  <b-img :src="require('../assets/ex2.jpg')" fluid alt="Fluid image" />
                </div>
              </b-col>
              <b-col>
                <div id="image">
                  <h5>Caption:</h5>
                  <p>a woman masturbates using a small pink dildo .</p>
                </div>
              </b-col>
              <div class="w-100"></div>
              <b-col>
                <div id="image">
                  <b-img :src="require('../assets/ex3.jpg')" fluid alt="Fluid image" />
                </div>
              </b-col>
              <b-col>
                <div id="image">
                  <h5>Caption:</h5>
                  <p>a women with exposed boobs giving some fellatio with her mouth .</p>
                </div>
              </b-col>
              <b-col>
                <div id="image">
                  <b-img :src="require('../assets/ex4.jpg')" fluid alt="Fluid image" />
                </div>
              </b-col>
              <b-col>
                <div id="image">
                  <h5>Caption:</h5>
                  <p>a blonde woman with big boobs masturbates using her hands .</p>
                </div>
              </b-col>
            </b-row>
          </div>
        </b-col>
      </b-row>
      <b-row id="section5" class="justify-content-md-center">
        <b-col cols="12" md="auto">
          <p>Image Captioning Tools&copy; 2018</p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<style>
.jumbotron.jumbotron-fluid {
  width: 100%;
  margin-bottom: 0px;
}
#section4 {
  background: #f7fcfd none repeat scroll 0 0;
}
#howto {
  padding-top: 1%;
  margin-bottom: 20px;
}
#result {
  padding-top: 1%;
  margin-bottom: 20px;
}
#image {
  padding: 10px;
}
#section5 {
  background-color: #00a0b8;
  height: 20%;
}
#section5 p {
  color: white;
}
</style>

<script>
export default {
  data () {
    return {
      images: {
        sample: require('../assets/browser.png')
      }
    }
  }
}
</script>
