<template>
  <div id="content">
    <loading :active.sync="isLoading"
        :can-cancel="false"
        :on-cancel="whenCancelled"
        :is-full-page="fullPage">Loading ...</loading>
    <b-card header="Captioning Page" class="text-center" img-fluid>
      <span>
        <input type="file" id="file" ref="file" v-on:change="fileChange()" />
        <b-button type="button" variant="primary" size="sm" @click.prevent="upload()">Upload</b-button>
      </span>
      <br>
      <br>
      <br>
      <p v-if="images == null">Upload gambar dulu</p>
      <b-img-lazy width="400" center blank-color="#bbb" v-if="images != null" v-bind:src="require('../../../flask/static/uploads/'+images)"/>
      <br>
      <p v-if="images != null">Caption : {{ caption }}</p>
      <p v-if="images != null">Image name : {{ images }}</p>
    </b-card>
  </div>
</template>

<script>
// Import component
import Loading from 'vue-loading-overlay'
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.min.css'
import axios from 'axios'
export default {
  data () {
    return {
      file: '',
      caption: '',
      images: null,
      isLoading: false,
      fullPage: true
    }
  },
  components: {
    Loading
  },
  methods: {
    fileChange () {
      this.file = this.$refs.file.files[0]
      this.caption = ''
      this.images = null
    },
    upload () {
      this.isLoading = true
      let formData = new FormData()
      formData.append('file', this.file)
      axios
        .post('http://localhost:5000/api/upload', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(response => {
          console.log(response)
          this.caption = response.data.caption
          this.images = response.data.image
          this.isLoading = false
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
}
</script>
<style>
.result {
  width: 100px;
  height: 75px;
}
</style>
