<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <b-navbar toggleable="md" type="dark" variant="info" sticky>

      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

      <b-navbar-brand :to="'/'">Image Caption</b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item :to="'/'" right exact>Home</b-nav-item>
          <b-nav-item :to="'/upload'" right >Captioning</b-nav-item>
          <b-nav-item :to="'/about'" right >About</b-nav-item>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>

    <!-- navbar-1.vue -->
    <!-- for example router view -->
    <router-view></router-view>
    <!-- set progressbar -->
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  /* margin-top: 60px; */
}
#content {
  padding: 10px 300px;
}
</style>
